<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
                <h2 class="card-title">Error</h2>
            </div>
        </div>
        <div class="card-body">
            <hr>
                <p class="h1">404 Not Found</p>
            <hr>
            <div class="col">
                <a class="btn btn-info btn-round btn-lg" th:href="@{/person}">Back to list</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>