<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!--   Material Kit CSS/ JS  -->
    <link rel="stylesheet" th:href="@{/style.css}"  />
    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/style.js?v=2.0.5}"></script>
</head>

<body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="Home">
                        <a class="nav-link" th:href="@{/}">
                            <i class="material-icons">home</i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item" id="Clubs">
                        <a class="nav-link" th:href="@{/person}">
                            <i class="material-icons">people</i>
                            <p>Person</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVIGATION BAR -->

    <!-- TITLE AND FADING BACKGROUND -->
    <div data-parallax="true" style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); height: 40vh; display: flex; align-items: center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center" style="color: #fff">
                        <h1>Eesti Energia</h1>
                        <h3 class="title text-center" style="color: #fff">demo-app</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TITLE AND FADING BACKGROUND  -->

    <!-- CONTENT -->
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <main role="main" class="pb-3">

                    <!-- CONTENT GOES HERE -->
                    <div layout:fragment="content"></div>

                </main>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</body>
</html>