<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
                <h2 class="card-title">Create New Person</h2>
            </div>
        </div>
        <h3 class="card-body">
            <div class="form">
                <div class="col-auto">
                    <form action="#" th:action="@{'/person/create/'}" th:object="${person}" method="post">
                        <div class="form-group">
                            <label class="col-form-label-lg h3" for="firstName">First name</label>
                            <input class="form-control h4" type="text" id="firstName" name="firstName" th:field="*{firstName}">
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error></p>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label-lg  h3" for="lastName">Last name</label>
                            <input class="form-control h4" type="text" id="lastName" name="lastName" th:field="*{lastName}">
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error></p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label-lg h3" for="email">E-mail</label>
                            <input class="form-control h4" type="email" id="email" name="email" th:field="*{email}">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail Error></p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label-lg h3" for="birthDate">Birthday</label>
                            <input class="form-control h4" type="date" id="birthDate" name="birthDate" th:field="*{birthDate}">
                            <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Date Error></p>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label-lg h3" for="address">Address</label>
                            <input class="form-control h4" type="text" id="address" name="address" th:field="*{address}">
                            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error></p>
                        </div>

                        <div class="form-group col">
                            <input type="submit" value="create" class="btn btn-success btn-round btn-lg">
                            <a class="btn btn-info btn-round btn-lg" th:href="@{/person}">Back to list</a>
                        </div>
                    </form>
                </div>
            </div>

        </h3>
    </div>
</div>

</body>
</html>