<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
                <h2 class="card-title">Details</h2>
            </div>
        </div>
        <h3 class="card-body">
            <div>
                <hr>
                <dl class="row">
                    <dt class="col-sm-2 text-left">First name:</dt>
                    <dd class="col-sm-10 text-left" th:text="${person.firstName}">First name</dd>

                    <dt class="col-sm-2 text-left">Last name:</dt>
                    <dd class="col-sm-10 text-left" th:text="${person.lastName}">Last name</dd>

                    <dt class="col-sm-2 text-left">Birth date:</dt>
                    <dd class="col-sm-10 text-left" th:text="${person.birthDate}">Birth date</dd>

                    <dt class="col-sm-2 text-left">E-mail:</dt>
                    <dd class="col-sm-10 text-left" th:text="${person.email}">E-mail</dd>

                    <dt class="col-sm-2 text-left">Address:</dt>
                    <dd class="col-sm-10 text-left" th:text="${person.address}">Address</dd>
                </dl>
                <hr>
            </div>
            <div class="col">
                <a class="btn btn-info btn-round btn-lg" th:href="@{'/person/edit/' + ${person.id}}">Edit</a>
                <a class="btn btn-info btn-round btn-lg" th:href="@{/person}">Back to list</a>
            </div>
        </h3>
    </div>
</div>

</body>
</html>