<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
                <h2 class="card-title">People</h2>
            </div>
        </div>
        <h3 class="card-body">
            <div class="row">
                <form class="col-md-5" action="#" th:action="@{'/person/'}"  method="get">
                    <input class="form-control-lg h4" type="text" id="search" name="search" placeholder="search">
                    <input type="submit" value="search" class="btn btn-info btn-round btn-lg">
                </form>
                <span class="col-md-4"></span>
                <a class="btn btn-success btn-round btn-lg" th:href="@{'/person/create/'}">Create new</a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-left"><a sd:pagination-sort="firstName">First name &#x21D5</a></th>
                    <th class="text-left"><a sd:pagination-sort="lastName">Last name &#x21D5</a></th>
                    <th class="text-left"><a sd:pagination-sort="email">E-mail &#x21D5</a></th>
                </tr>
                <tr th:each="person, iter : ${persons}" th:with="count=${counter + iter.index}">
                    <td th:text="${count + 1}"></td>
                    <td class="text-left" th:text="${person.firstName}">First name</td>
                    <td class="text-left" th:text="${person.lastName}">Last name</td>
                    <td class="text-left" th:text="${person.email}">E-mail</td>
                    <td class="text-right">
                        <a class="btn btn-info btn-round" th:href="@{'/person/edit/' + ${person.id}}">Edit</a>
                        <a class="btn btn-info btn-round" th:href="@{'/person/details/' + ${person.id}}">Details</a>
                        <a class="btn btn-rose btn-round" th:href="@{'/person/delete/' + ${person.id}}">Delete</a>
                    </td>
                </tr>
                </thead>
            </table>
        </h3>

        <div class="row">
            <div class="col-sm-6 h5">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull">
                    <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>